body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C23232;
    margin: auto;
}

.banner{
    font-size: 70px;
    font-weight: bold;
    padding: 30px;
    border: 1px red;
    background-color: orange;
    margin: 15px auto;
}


.subbanner{
    font-family: "cursive";
    font-size: 45px;
    background-color: palegoldenrod;
    height: auto;
    width: auto
    padding: 5px 10px;
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
    
    
   
}

article{
    background-color: silver;
    width: 1000px;
    margin: auto auto;
    border: black dashed 8px;
}

.img{
    border: 5px solid cornflowerblue;
    height: 500px;
    width: 500px;
    margin: auto;
}


button{
    height: 150px;
    width: 300px;
    margin: 5px;
    display:inline-block;
    vertical-align: top;
    font-size: 60px;
    font-family: "Monaco";
    margin: 10px 5px;
    
}

.toast{
    background-color: brown;
    color: yellow;
    text-decoration: underline;
}

.smc{
    font-size: 40px;
    background-color: orange;
    color: brown;
}

.salami{
    background-color: tomato;
    color: white;
}